.swcat{
    background: #fff;
    margin: 15px 0px;
}
.check{
    float: left;
    margin-top:8px;
}
.check a:hover{
    color: #2196F3;
}
.sw_check{
    margin: 0px 10px 0px 10px;
}
.addcat{
    float: right;
    background: #2196F3;
    height: 30px;
    padding: 0px 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 3px
}
.addcat a{
    color: #fff;
}
.btn_cat{
    width: 100%;
    text-align: center;
}
.btnBrdr{
    margin-top: 0;
}

.table_01 a:hover{
    color: #2196F3;
}
.no_check.inputright{
    margin-right:30px;
}

div.tree{
    background:none;
    padding:0;
}
.show dl.tree_left{
    width:60%;
    min-height:342px;
    background:#fff;
}
.tree dt.tree_l_t{
    width:100%;
    height:42px;
    background:#b2dbfb;
    line-height: 42px;
    padding:0;
}
.tree_word{
margin-left: 20px;
color:#666666;
}
.show .tree div.tree_right{
    width:40%;
    padding-left: 16px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
.tree_rig{
    width:100%;
    min-height:342px;
    background:#fff;
}
.tree_rig dd{
    width:100%;
    min-height:300px;
    background:#E1FEFF;
     padding:0 10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
.tree_rig li{
    height:32px;
    line-height: 32px;
    border-bottom: 1px solid #B4BFC0;
    background:url("../images/allt.png") no-repeat;
}
li.tree0{
     text-indent: 55px;
}
li.tree1{
     background-position:15px 0;
     text-indent: 70px;
}
li.tree2{
    background-position:30px 0;
    text-indent:85px;
}
li.tree3{
    background-position:45px 0;
    text-indent:100px;
}
li.tree4{
    background-position:60px 0;
    text-indent:115px;
}
li.tree5{
    background-position:75px 0;
    text-indent:130px;
}
li.tree6{
    background-position:90px 0;
    text-indent:145px;
}
li.tree7{
    background-position:105px 0;
    text-indent:160px;
    border-bottom: 0;
}
li.tree8{
    background:url("../images/xian.png") no-repeat;
    background-position:105px 0;
    text-indent:160px;
}
.show .tree div,.show .tree div.tree_right_k{
    width:33.33%;
}
.tree_left_k dl.tree_left,.tree_center_k dl.tree_left{
    width:100%;
}
.tree_center_k{
    padding-left: 16px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
.show .tree_left_k dl.tree_left,.show .tree_center_k dl.tree_left,.tree_rig_k{
    min-height:240px;
}
.show .tree div.tree_right_k dd{
    min-height:198px;
}