/*html{*/
    /*height: auto;*/
/*}*/
/*body{*/
    /*!*min-width:1020px;*!*/
    /*height: auto;*/
    /*overflow: scroll;*/
/*}*/
.main{
    font-size: 14px;
    color: #666;
    background: #f7f7f7;
    padding-bottom: 20px;
    margin-top:-16px;
}
.f14{
    font-size: 14px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.l30{
    line-height: 30px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.h_auto{
    height: auto !important;
}
.bg_grey{
    background: #f2f6f9;
}
input{
    outline: none;
}
table{
    margin-bottom: 0!important;
}
.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }
/*.main{*/
    /*width: 96%;*/
    /*min-width: 0;*/
    /*padding: 5px 2%;*/
/*}*/
.main>div{
    background: white;
    /*margin-bottom: 16px;*/
    padding: 10px 10px 10px 30px;
}
.topic{
    background: #fbfcff;
    padding-left: 24px!important;
    margin-top: 15px;
    /*min-width: 1020px;*/
}
/*.topic h2{
    font-size: 14px;
    margin-right: 50px;
    font-weight: normal;
    padding: 7px;
}*/
.topic_nav li{
    float: left;
    margin-right: 40px;
    padding: 7px;
}
.topic_nav li.selected, .topic_nav li:hover{
    background: #b3daf9;
    border-radius: 4px;
}
.wrap_date input{
    width: 144px;
    height: 28px;
    border: 1px solid #e9e9e9;
    line-height: 28px;
    padding: 0 15px;
    box-sizing: border-box;
    background: url("../images/calendar_icon.png") no-repeat 110px 3px ;
    margin: 0 15px;
}
.wrap_date{
    font-size: 14px;
    padding: 10px 10px 10px 30px!important;
    /*min-width: 1020px;*/
}

.btn-normal{
    width: 82px;
    height: 30px;
    background: #2196f3;
    color: #fff;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-left: 90px;
    cursor: pointer;
}
.wrap_date .title{
    float: left;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.list_nav{
    width: 250px;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
}
.main_con.clearfix{
    /*display: none;*/
    visibility: hidden;
    margin-top: 10px;
    overflow:hidden;
    background-color: #f7f7f7;
    position:relative;
    height: 600px;
    padding:10px 0;
}
.main_con_left{
    visibility: hidden;
    width: 250px;
    font-size: 14px;
    padding-top:40px;
    float: left;
    overflow: hidden;
    height: 560px;!important;
}
.big_nav>li{
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    background-image: url("../images/arrow.png")  ;
    background-repeat:no-repeat ;
    background-position: 152px 19px;
}
/*Ŀ¼��*/
.node .node{
    display:none;
}
.node .tree{
    height:28px;
    line-height:28px;
    padding-left: 35px;
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    background-image: url("../images/jia.png")  ;
    background-repeat:no-repeat ;
    background-position: 16px 8px;
}
.first_ceng_node>li>.tree{
    padding-left: 50px;
    background-position: 30px 8px;
}
.second_ceng_node>li>.tree{
    padding-left: 65px;
    background-position: 48px 8px;
}
.third_ceng_node>li>.tree{
    padding-left: 80px;
    background-image: none;
}
.tree.ce_ceng_open{
    background-image:url("../images/jian.png");
    background-position: 16px 13px;
}
.first_ceng_node>li>.tree.ce_ceng_open{
    background-image:url("../images/jian.png");
    background-position: 30px 13px;
}
.second_ceng_node>li>.tree.ce_ceng_open{
    background-image:url("../images/jian.png");
    background-position: 48px 13px;
}
.third_ceng_node>li>.tree.ce_ceng_open{
    background-image:none;
}

.wrap_table{
    visibility: hidden;
    height: 600px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
    /*padding-left: 50px;*/
    position: relative;
    /*box-sizing: border-box;*/
    background-color: white;
}
.wrap_table_left{
    position: absolute;
    top:0px;
    left:0px;
    width:50px;
    height: 600px;
    z-index: 10;
}
.wrap_table_right{
    margin-left: 50px;
    overflow: auto;
    height: 600px;
    position: relative;
    /*display: none;*/
    visibility: hidden;
}
.wrap_table_left p{
    /*display: none;*/
    visibility: hidden;
    width: 24px;
    height: 24px;
    background-color: #2196f3;
    border-radius: 100%;
    margin-top:15px;
    margin-left:3px;
}
.wrap_table_left p:nth-child(2){
    margin-top:122px;
    margin-left:5px;
    width: 20px;
    height: 20px;
}
.wrap_table_left p:nth-child(3){
    margin-top:124px;
    margin-left:7px;
    width: 16px;
    height: 16px;
}
.wrap_table_left p:nth-child(4){
    margin-top:126px;
    margin-left:9px;
    width: 12px;
    height: 12px;
}
.wrap_table_left p::after{
    position: absolute;
    display: block;
    content:"";
    top:0;
    left:14px;
    width:2px;
    height: 140px;
    background-color: #2196f3;
}
.wrap_table_left p:nth-child(2)::after{
    top:140px;
    left:14px;
}
.wrap_table_left p:nth-child(3)::after{
    top:280px;
    left:14px;
}
.wrap_table_left p:nth-child(4)::after{
    top:420px;
    left:14px;
}
.table_head{
    /*display: none;*/
    visibility: hidden;
}
.table_right{
    /*display: none;*/
    visibility: hidden;
}
.wrap_table table{
    box-sizing: border-box;
}
.wrap_table th{
    background:#b2dbfb ;
    border-right: 1px solid #e9e9e9;
}
.wrap_table th span{
    padding:5px 0;
    display: block;
    min-width: 120px;
}
.wrap_table td{
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
.smallCount{
    border-right: 1px solid #e9e9e9!important;
}
.wrap_table td:last-child{
    border-right: none;
}
.all_sum{
    margin-top: 10px;
    width: 250px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    background:#b2dbfb ;
    float: left;
}
.wrap_sum{
    border-top:10px solid #f7f7f7;;
}
.table_01 th,.table_01 td{
    /*width: 8.33%;*/
}
.main_con_gs td,.main_con_gs th{
    /*width: 16.6%!important;*/
}
.table_01 tbody tr:hover{
    background: #f2f6f9;
}
/*��Դ����*/
.con_fl .title{
    margin-right: 50px;
}
.con_fl .wrap_table{
    width: 100%;
    margin-left: 0;
    height: auto;
    /*min-height: 200px;*/
}
.th_bottom th{
    border-top:1px solid #e9e9e9;
}
.hide{
    display: none;
}

.main .phasesubject{
    margin-bottom: 0;!important;
    min-width: 860px;
    margin-top: 16px;
}
.phase, .subject{
    margin-top:8px;
    margin-right:46px;
}
.subject{
    margin-left:40px;
}
.timeSelect{
    margin-right: 46px;
    margin-top: 8px;
}
.timeMondth li{
    float: left;
    margin-right: 40px;
    padding: 7px;
    cursor: pointer;
}
.timeMondth li.selected, .timeMondth li:hover{
    background: #b3daf9;
    border-radius: 4px;
}
#peopleName{
    margin-left: 38px;
    padding:8px 4px 8px 14px;
    width: 720px;
    border:1px solid #e9e9e9;
    min-width: 400px;
}
.peopleName{
    min-width: 860px;
}
.btn-statistics{
    background-color: #f7941d;!important;
    margin-left:0px;
    margin-top:-2px;
}
.showAll{
    color:#3399ff;
}



.footer {
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    /*min-width: 1020px;*/
}
.f_common {
    width: 50%;
    background-color: #fff;
}
.footer_left{
    /*margin-left: 30px;*/
    background-color: #F2F6F9;
    padding: 0 16px;
}
.footer_right{
    /*margin-right: 30px;*/
    padding: 0 16px;
    background-color: #F2F6F9;
}
.left_bar1{
    margin: 0 auto;
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
}
.left_bar2{
    height: 140px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top:28px;
}
.right_bar2{
    height: 140px;
    /*display: flex;*/
    /*justify-content:space-around;*/
    /*align-items:center;*/
    /*margin-top:10px;*/
}
/*.right_top {*/
/*float: left;*/
/*}*/
.right_bottom {
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.right_bottom .green{
    margin-left: 70px;
}
.right_bar2 .green, .right_bar2 .sub_word{
    float: left;
}
.green {
    width: 110px;
    height: 90px;
    line-height: 90px;
    border-radius: 8px;
    padding:0 20px;
    background-color: #c1e49c;
}
.green.green_two{
    background-color: #9dd461;
}
.green.green_three{
    background-color: #74c320;
}
.green.green_four{
    background-color: #98ccff;
    position: relative;
}
.green.green_five{
    background-color: #5aaeff;
    position: relative;
}
.green_num{
    height: 30px;
    font-size: 28px;;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    margin-top: 15px;
}
.green_word{
    margin-top:5px;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size:12px;
}
.word{
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    float: left;
    display: flex;
    margin-right: 10px;
}
.word_vetted{
    margin-left: 15%;
}
.word_b{
    margin-right: 14px;
    font-weight: bolder;
}
.word_total{
    margin-left: 10px;
}
.btn1{
    float: right;
    width: 82px;
    height: 30px;
    border-radius: 3px;
    background-color: #2196f3;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}
.sub_word{
    position: absolute;
    width: 105%;
    padding-left: 10px;
    height:90px;
    line-height:90px;
    background-color: #eaecf2;
    border-radius: 8px;
}
.sub_word_one{
    top:0px;
    left:112%;
    z-index: 10;
}
.sub_word_two{
    top:0px;
    right:112%;
    z-index: 10;
}
.sub_word_one::after{
    content:"";
    position: absolute;
    display: block;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:6px solid transparent;
    border-right:6px solid #eaecf2;
    top:32px;
    left:-12px;
}
.sub_word_two::after{
    content:"";
    position: absolute;
    display: block;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:6px solid transparent;
    border-left:6px solid #eaecf2;
    top:32px;
    right:-12px;
}
.sub_word>p {
    height: 23px;
    line-height: 23px;
    margin-top: 2px;
}
.sub_word p:nth-child(1){
    margin-top: 8px;
}

/*֪ʶ��ͳ��*/
.mo_show{
    text-align: center;
    font-size: 16px;
    padding: 20px;
    background: white;
    margin-top:10px;
}
.phaseSubjectKnowledge{
    position:absolute;
    top:20px;
    text-align: center;
    font-size:20px;
    color:#666666;
    width: 250px;
    background-color:white;!important;
}

.table_head{
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    position: absolute;
    top:0;
    left:50px;
}
.table_right{
    margin-top:50px;
    min-height: 90px;
}
.table_head_02{
    top:142px;
}
.table_head_03{
    top:284px;
}
.table_head_04{
    top:425px;
}
.table_on{
    color:#2196f3;
}
.main .peopleUploadAll{
    padding: 10px 10%;
}
.uploadAll span{
    text-align: center;
    vertical-align: middle;
}
.type_form {
    width: 8%;
    min-width: 52px;
    height: 25px;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    float: left;
    font-size: 13px;
    border:1px solid lightgrey;
    cursor: pointer;
}
.type {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /*margin-left: 12px;*/
}
.form {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn_click {
    background-color: #b2dbfb;
}

/*��״ͼ*/
.barGraph{
    width: auto;
    height: 500px;
    overflow: hidden;
    padding-bottom:0px;
}
#barGraph{
    width: auto;
    height: 500px;
    overflow: hidden;
    padding-bottom:0px;
}
#barGraphOne{
    display:block;
    height: 500px;
    width: auto;
}
#barGraphTwo{
    display:block;
    height: 500px;
    width: auto;
}

/*�쵼���ĵ�������չ��*/
.barTable{
    margin-top: 20px;
}
.barTableOne{
    display:block;
    width: auto;
}
.barTableTwo{
    display:none;
    width: auto;
}
.showAllDiv{
    box-sizing:border-box;!important;
    box-shadow: 0px 0px 10px gray;!important;
    overflow: hidden;!important;
    padding: 30px 0px 0px 0px;!important;
}
.showAllDiv span{
    display: inline;!important;
}
.wrap_table_0001{
    /*width: 99%;*/
    width: 100%;
    /*min-width: 1020px;*/
    padding: 5px 2%;
    height: auto;
    /*min-height: 200px;*/
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    background: #f7f7f7;
}

.primaryChinese {
}
.primaryChinese p{
    float:left;
}
.primaryChinese p span{
    margin-right: 40px;
    margin-left: 30px;
    padding: 7px;
    cursor: pointer;
}
.primaryChinese p span.selected{
    cursor: pointer;
    background: #b3daf9;
    border-radius: 4px;
}
.primaryChinese button{
    float: right;
    margin-right: 30px;
}
#peopleUploadAll{
    margin-top: 20px;
    padding: 0 9.5%;
}
.foot{
    /*padding-top: 20px;*/
}
.table_td{
    color:#2196f4;
    cursor: pointer;
}
.showAllTr{
    display: none;
    /*visibility: hidden;*/
}
